<% layout('boilerplate') %>

<div class="bg"></div>

<div class="container" style="margin: auto;">
  <div class="row" style="margin: auto;">
    <div class="col-lg-6 col-md-offset-3">
      <h1>Create Course</h1>
      <form role="form" method="post">
        <div class="form-group">
          <label for="name">Title:</label>
          <Input type="text" class="form-content" name="title" id="title" />
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
